@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

body {
    height: 100vh;
    display: grid;
    background: #262626;
    background-image: url("../../assests/images/amuse.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#text {
    height: 160px;
    font-size: 20px;
    color: line;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    span {
        position: absolute;
        transform-origin: 0 80px;
    }
}

html {
    height: 100%;
}


p {
    font-size: var(--font-size);
}

.circle {
    position: relative;
    width: var(--d-outer);
    height: var(--d-outer);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    width: var(--d-inner);
    height: var(--d-inner);
    background: url(https://avatars.githubusercontent.com/u/58844494?v=4);
    background-size: cover;
    border-radius: 50%;
    filter: contrast(1.5);
}

.text {
    height: 100%;
    animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.text p span {
    left: 50%;
    transform-origin: 0 var(--radius);
}